<section>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
		    <img src="/assets/lucky-beer-bottel.png" alt="Lucky Beer Bottel" class="img-responsive mrg-btm30">
		  </div>
		  <div class="col-md-6 col-sm-6 col-xs-12">
		    <div class="white-bx">
					Thank you for registering for the Lucky Buddha Beer Bracket Challenge.  The challenge begins Sunday night, March 16.  Please check back then too fill out your bracket.  Good Luck! (We'll send you an e-mail reminder too)
				</div>
			</div>
		</div>
	</div>
</section>