<header>
  <div class="container">
  	<div class="row">
    	<div class="col-md-6 col-sm-6 col-xs-12">
      	<img src="/public/assets/luckybeer_logo.png" alt="Lucky Beer" class="img-responsive center-block">
      </div>
      <% unless user_signed_in? %>
        <div class="col-md-6 col-sm-6 col-xs-12 social-align">
        	<div class="title-txt1 pull-left line-height114">Lucky Buddha Bracket Challenge</div>
        	<ul class="social-icon">
          	<li><a href="https://www.facebook.com/LuckyDrinkCo" class="facebook"></a></li>
            <li><a href="https://twitter.com/luckybuddhabeer" class="twitter"></a></li>
            <li><a href="http://www.youtube.com/user/LuckyDrinkCo" class="youtube"></a></li>   
          </ul>
        </div>
      <% else %>
        <div class="col-md-6 col-sm-6 col-xs-12 social-align">
          <div class="">
            <ul class="social-icon">
              <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</header>

